*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

html {
        width:100%;
}
nav :visited , nav :active, nav :focus {
        color: rgb(255, 255, 255);
}
nav :hover {
        color:blue
}

.decoration {
        text-decoration: none;
}

.col_green {
        color:green;
}
.col_white {
        color:rgb(255, 255, 255);
}

.col_black {
        color:rgb(0, 0, 0);
}
.header_logo{
        background-color:#353a40;
        display: flex;
        justify-content:center;
        height: auto;
}
.logo{
        display:flex;
        align-items: center;
        width:40%;
        padding-left: 8vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
}
.img_logo{
        width:45%;
}
.navegador{
        padding-right: 2rem;
        width:100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-left: 5vw;
}
.nav_logo_pages{
        text-decoration: none;
        color: white;
        font-size: 0.95rem;
        padding-left: 0.9vw; 
        width: 90%;
}
.logo h2 {
        font-size: 1.2rem;
        color:rgb(255, 255, 255);
        padding-left: 1vw;
}
/*.sectionPrincipal{
                background:linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)),url(../images/ba1.jpg);
                height:100vh;
                width: 100%;
                display: flex;
                justify-content:flex-end;
                align-items:center;
                background-size:cover;
                background-position: center;
                padding-right: 5vw;
}*/
.contenidoPrincipal{
               /* width: 60%;
                text-align: right;
                color:white;
                background-color: transparent;
                padding-right: 5%;
                padding-bottom: 5%;
                margin-top: 15%;*/
                width: 100%;
                text-align: right;
                color:white;
                background-color:transparent;
                padding-right: 1%;
                padding-bottom: 5%;
                margin-top: 5%;
                margin-bottom: 10%;
                margin-left: -20vw;
}
.contenidoPrincipal h2 {
                padding-right: 4%;

}

.parrafoPrincipal {
                /*width: 85%;
                padding-right: 0px;
                background-color: transparent;
                margin-left: 15%;*/
                width: 45%;
                padding-right: 1%;
                background-color: transparent;
                margin-left: 52vw;
}
.bt_transp {
                background-color:transparent;
                border-color: white; 
                border-radius: 10px; 
                width: 16%; 
                height: 7vh;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 1rem;
                font-weight: bold;
                padding-left: 5px;
                padding-right: 5px;
                margin-right: 1vw;
                margin-top: 4%;
}
.bt_transp:hover{
                background-color:grey;

}
.bt_green {
                background-color:rgb(6, 190, 6);
                border-color: rgb(6,190,6);
                border-radius: 10px; 
                width: 16%; 
                height: 7vh;
                padding-left: 5px;
                padding-right: 5px;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 1rem;
                font-weight: bold;
                margin-right: 5%;
                margin-top: 4%;
}
.bt_green:hover{
        background-color:grey;

}
.bt_transp2 {
                background-color:transparent; 
                border-color: white; 
                border-width: 1px;
                border-radius: 10px; 
                width: 16vw; 
                height: 8vh; 
                font-family:Arial, Helvetica, sans-serif;
                font-size: 1.125em;
                margin-left: 4vw;
                padding: 0px;
}
.bt_transp2:hover{
        background-color:grey;

}
.bt_yellow {
                background-color:rgb(254,193,6);
                border-color: rgb(254,193,6);
                border-radius: 4px; 
                width:80px; 
                height: 20px; 
                font-family:Arial, Helvetica, sans-serif;
                font-size: 0.625rem;
                font:bold;
                margin: 5px;
}
.bt_blue {
                background-color:rgb(23, 162, 185);
                border-color: rgb(23, 162, 185);
                border-radius: 4px; 
                width:80px; 
                height: 20px; 
                font-family:Arial, Helvetica, sans-serif;
                font-size: 0.625rem;
                font:bold;
                margin: 5px;
}
.bt_grey {
                background-color:rgb(108, 116, 127);
                border-color: rgb(108, 116, 127);
                border-radius: 4px; 
                width:80px; 
                height: 20px; 
                font-family:Arial, Helvetica, sans-serif;
                font-size: 0.625rem;
                font:bold;
                margin: 5px;
}
.bt_red {
        background-color:rgb(220, 71, 70);
        border-color: rgb(220, 71, 70);
        border-radius: 4px; 
        width:80px; 
        height: 20px; 
        font-family:Arial, Helvetica, sans-serif;
        font-size: 0.625rem;
        font:bold;
        margin: 5px;
} 
.bt_red:hover,.bt_grey:hover,.bt_blue:hover,.bt_yellow:hover {
        background-color:green;

}
.content {
        display: inline-block;
        width: 100%;
        text-align: center ;
        margin-top: 2vh;
        margin-bottom: 2vh;
}
.border_grey {
            border-color:grey;
            border-radius: 5px;
            border-style:solid;
            border-width:1px;
            width: 100%;
}
.oradores {
        margin-left: 10vw;
        margin-right: 10vw;
}
.card img{
        border-radius: 5px;
        width: 100%; 
}
.description {
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 1vh;
        margin-bottom: 4vh;
        line-height: 1.5;
}
.section1 {
        display: flex;
        width: 100%;
        height: auto;
        background-color: aqua;
}
.img1   {
      position: relative;
      width:50%; 
      object-fit: cover;
}
.img2   {
      position: relative;
      background-color:rgb(53,58,54); 
      color: white;
      height:auto;
      width: 50%;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-size: 0.75rem;
      font-stretch: extra-expanded;
      object-fit: cover;
}
.section2 {
            width: 100%;
            text-align: center;
            font-size: 0.875rem;
            margin-top: 3%;
}
.section2 h2 {
            font-size: 1.75rem;
            font-weight: bold;
}
.contacto{
        display: inline-block;
        width: 50vw;
        background-color: transparent;
}
#nombre{
        position: relative;
        width:24vw;
        margin-right: 1vw;
        padding-left: 10px;
        border: 1px solid #979797;
        border-radius: 5px;
}
#apellido{
        position: relative; 
        width:24vw;
        padding-left: 10px;
        border: 1px solid #979797;
        border-radius: 5px;
}
#comentario {
        position: relative; 
        height: 150px;
        padding-left: 10px;
        font-size: 0.875rem;
        font-family: 'Roboto', sans-serif;
        border: 1px solid #979797 ;
        border-radius: 5px;
}
.contacto p {
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem;
        text-align: left;
}
#nombre:hover,#apellido:hover,#comentario:hover{
         background-color: rgb(212, 241, 232);
}

#bt_submit{
        width: 100%;
        height:40px;
        background-color: #96c93e;
        border-radius: 5px;
        border: 1px #96c93e;
        color: white;
}

#bt_submit:hover {
        background-color: grey;
}
footer { 
        width: 100%;
        background-color: #1d465c;
        padding-top:1vh;
        justify-content: center;
        align-items: center;
}
footer :hover {
        color:rgb(60, 238, 25)
}
.navbar-brand {
        font-size: 0.9rem;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
}
.navbar-nav {
        margin:0 auto;
}

.tickets {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 0.875rem;
        }
.tickets h4 {
        font-size: 1.75rem;
        font-weight: bold;
    }
.estudiantes {
        position: relative;
        width: 18%;
        height: auto;
        border: solid 1px blue;
        margin-left: 22%;
        text-align: center;
}
.trainee {
        position: relative;
        width: 18%;
        height: auto;
        border: solid 1px lightblue;
        margin-left: 1%;
        text-align: center;
}
.junior {
        position: relative;
        width: 18%;
        height: auto;
        border: solid 1px orange;
        margin-left: 1%;
        text-align: center;
}
.buy_form {
        width: 100%;
        text-align: center;
        font-size: 0.875rem;
        margin-top: 1%;
        margin-bottom: 1%;
}
.buy_form h2 {
        font-size: 1.75rem;
        font-weight: bold;

}
.form_items{
        display: inline-block;
        width: 56%;
        margin: 0%;
}
#name,#cantidad {
        position: relative;
        width: 48.7%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        margin-right: 1%;
        border: 1px solid #979797; 
        border-radius: 5px;
}
#surname,#categoria {
        position: relative; 
        width: 48.7%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        margin-left: 1%;
        border: 1px solid #979797 ;
        border-radius: 5px;
}
#email {
        position: relative; 
        margin-top: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        width: 100%;
        border-radius: 2px;
        border: 1px solid #979797 ; 
        border-radius: 5px;
}
#name:hover,#surname:hover,#email:hover,#cantidad:hover,#categoria:hover{
        background-color: rgb(166, 241, 217);
}

.form_text{
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 2%;
        text-align: left;
      }
.text_cant {
        position: relative;
        width: 50%;
        height: auto;
}
.text_cat {
        position: relative;
        width: 50%;
        height: auto;
        padding-left: 1%;
}
#bt_borrar{
        width: 48.7%;
        height:35px;
        background-color: #96c93e;
        border-radius: 5px;
        border: 1px #96c93e;
        color: white;
        margin-top: 1%;
        margin-right: 1%;
}
#bt_resumen{
        width: 48.7%;
        height:35px;
        background-color: #96c93e;
        border-radius: 5px;
        border: 1px #96c93e;
        color: white;
        margin-top: 1%;
        margin-left: 1%;
}
.resumen{
        display: flex;
        width: 100%;
        height:35px;
        background-color: lightblue;
        border-radius: 5px;
        border: 1px #96c93e;
        color: rgb(0, 0, 0);
        margin-top: 3.5%;
        margin-bottom: 1.5%;
        text-align: left;
        padding-left: 2%;
        padding-top: 1%;

}


        
/*celular*/
@media screen and (min-width:320px) and (max-width:768px){
        .header_logo{
                  flex-direction: column;
                  
                }
        .logo{
                  width:100%;
                  justify-content:space-between;
                  padding-right:2rem;
                  margin-bottom: 0.2rem;
                }
        .img_logo{
                width:20%;
                }
        .navegador{
                  width:95%;
                  flex-direction: column;
                }   
        .nav_logo_pages{
                  border-bottom: 1px solid rgb(170, 165, 165);
                  display:inline-block;
                  width:95%;
                  text-align: center;
                  padding-top:0.2rem;
                  padding-bottom:0.2rem;
                  font-size: 0.8rem;
                }
                
        .contenidoPrincipal{
               /* width: 100%;
                text-align: justify;
                padding-bottom: 5%;
                margin-top: 15%;*/
                width: 100%;
                padding-bottom: 2%;
                margin-top: 15%;
                background-color: transparent;
                text-align: justify;
                margin-bottom: 1vh;
                height: auto;
                padding-left: 15%;

                }   
        .contenidoPrincipal h2{ 
                text-align: center;
                padding-left: 10%;
                font-size: 1rem;
                }

        .parrafoPrincipal {
                text-align: justify;
                background-color: transparent;;
                width: 100%;
                height: auto;
                margin:0 auto;
                font-size: 0.7rem;
                margin-bottom: 2vh;
     
        }

        .d-md-block {
                display: block !important;
              }




        .bt_transp {
                        width: 30%;
                        height: auto;
                        margin: 0 13%;
                        font-size: 0.66rem;
                }
        .bt_green {
                        width: 30%;
                        height: auto;
                        margin: 0 3%;
                        font-size: 0.79rem;
                }
        .bt_transp2 {
                        width: 30%;
                        height: auto;
                        margin: 0 35%;
                }
        .section2 {
                width: 70%;
                text-align: center;
                font-size: 0.8rem;
                margin: 3% auto;
                }
        .navbar-nav {
                text-align: center;
                margin: 1% auto;
                }
        .section1 {
                flex-direction: column;
                width: 100%;
                height: auto;
                }
        
        .img1   {
              width:100%; 
              object-fit: cover;

                }
              
        .img2   {
              width: 100%;
              padding-bottom: 4vh;
                }
        .card {
                box-shadow: 16px 25px 12px -5px rgba(0,0,0,0.54);
                -webkit-box-shadow: 16px 25px 12px -5px rgba(0,0,0,0.54);
                -moz-box-shadow: 16px 25px 12px -5px rgba(0,0,0,0.54);
        }
        .form_items{
                display: inline-block;
                width: 100%;

        }
        #name,#cantidad {
                position: relative;
                width: 45%;
        }
        #surname,#categoria {
                position: relative; 
        }
        #email {
                position: relative; 
                width:96%;
        }
        .tickets {
                font-size: 0.6rem;
                }
        .tickets h4 {
                font-size: 0.8rem;
                }
        #bt_borrar{
                width: 45%;

        }
        #bt_resumen{
                width: 45%;
        }
        .resumen{
                display: flex;
                width: 90%;
                margin:2% auto;
        
        }
        .estudiantes {
                width: 25%;
                margin-left: 11%;

        }
        .trainee {
                width: 25%;
                margin-left: 1%;
        }
        .junior {
                width: 25%;
                margin-left: 1%;
        }
        .text_cant {
                width: 50%;
                padding-left: 1.8%;
        }
        .text_cat {
                width: 50%;
        }

        }

            

 /*tablet*/
        @media screen and (min-width:769px) and (max-width:1150px){
                .header_logo{
                        height: 5rem;
                }
                .logo{
                        width:40%;
                        height: 80%;
                        justify-content:space-around;
                }
                .img_logo{
                        width:40%;
                }
                .logo h2 {
                        font-size: 1rem;
                }
                .navegador{
                        width:80%;
                        justify-content:space-between;
                }
                .nav_logo_pages{
                        width:100%;
                        text-align: center;
                        font-size: 0.9rem;
                }
                .contenidoPrincipal{
                       /* width: 100%;
                        text-align: justify;
                        padding-bottom: 5%;
                        margin-top: 15%;*/
                        padding-right: 0%;
                        padding-left: 10%;
                        width: 100%;
                        text-align: justify;
                        padding-bottom: 5%;
                        background-color: transparent;
                }

                .parrafoPrincipal {
                        width:80%;
                        background-color: transparent;
                        text-align: justify;
                        margin-left:10%;
                        margin-right: 10%;
                        height: auto;
        
                }
                .contenidoPrincipal h2{ 
                        text-align: center;

                }
                .bt_transp {
                        margin: 0 20%;
                        font-size: 0.75rem;
                        height: auto;
                }
                .bt_green {
                        margin: 0 1%;
                        font-size: 0.8rem;
                        height: auto;
                }
                .navbar-nav {
                        text-align: center;
                        margin: 1% auto;
                }
                .section1 {
                        flex-direction: column;
                        width: 100%;
                        height: auto;
                }
                
                .img1   {
                      width:100%; 
                      object-fit: cover;
                }
                      
                .img2   {
                      width: 100%;
                      padding-bottom: 4vh;

                }
                .form_items{
                        display: inline-block;
                        width: 85%;

                }
                #name,#cantidad {
                        position: relative;
                        width: 48.7%;
                }
                #surname,#categoria {
                        position: relative; 
                }
                #email {
                        position: relative; 
                        width: 100%;
                }


                }
  